<% title "Welcome to MovieFly.org!" %>
<div id="content" class="single_col ui-corner-all">
  Welcome to Movie<span class='highlight'>Fly</span>.org!<br/><br/>List your movies, <span class='highlight'>reviews</span>,<br/>collection and views.
</div>