<h3>Views of this movie for <%= user.username %></h3>

<p>Here are the previous times and dates you've seen this movie:</p>
<ul style="margin:0; padding:0; list-style:none;">
  <li>1/1/2009 at 1pm at Pointe Orlando. <a href="#">edit</a></li>
  <li>1/1/2009 at 1pm at Pointe Orlando <a href="#">edit</a></li>
  <li>... 1 more unknown time and place <a href="#">edit</a></li>
</ul>

</p>