<tr>
  <td><%= link_to country.name, country_movies_path(country) -%></td>
  <td><%= link_to country.abbreviation, country_movies_path(country) -%></td>  
  <td><%= country.movies_count -%></td>
</tr>